/* style.css */

html {
    /* background-color: rgba(252, 250, 250); */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --txt: #f6fff8b7;
    --txt2: font-family: 'Outfit', sans-serif;
    --dark-txt: rgb(97, 105, 107);
}

.material-symbols-rounded {
    background-color: none;
    border-radius: 50%;
    padding: 1px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
    margin: 0;
    padding: 0;
}

div {
    display: grid;
}

.container {
    display: grid;
    grid-template: max-content calc(100vh) / max-content minmax(600px, 1fr);
    background-color: rgb(17, 16, 17);
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: rgb(24, 23, 25);
    border-bottom: 2px solid black;
    color: var(--txt);
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.header-row a{
    text-decoration: none;
    color: var(--txt);
    opacity: 0.5;
}

.header-row a:hover{
    opacity: 1;
    color: rgb(161, 114, 247)
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
    color: var(--txt);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navigation button {
    background: none;
    cursor: pointer;
    border: none;
}

.navigation button:hover {
    opacity: 1;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / all;
    min-width: 200px;
    max-width: 250px;
    background-color: rgb(29, 29, 32);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: min(15%);
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 20px;
    font-family: 'Work Sans', sans-serif;
}

.row {
    display: grid;
    place-items: center;
}

#administrator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.info h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.info p {
  color: var(--txt);
}

.main {
    display: grid;
    gap: 20px;
    grid-area: 2 / 2 / 4 / 4;
    grid-template: max-content / 1fr 300px;
    margin-bottom: 50px;
    padding: 20px;
}

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
}

#mainlayout {
    gap: 55px;
    padding-left: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  margin-top: 5vh;
  gap: 10px;
  background-color: rgb(29, 29, 32);
  height: 44vh;
  position: sticky;
}

.info p {
  margin: 0;
}

.divider {
    display: inline-block;
    background-color: rgba(169, 169, 169, 0.486);
    height: 3em;
    width: 1px;
}

.s-divider {
    display: flex;
    flex-direction: row;
    background-color: rgba(169, 169, 169, 0.486);
    height: 1px;
    width: 10em;
    align-items: center;
    justify-content: center;
    padding: none;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

.avatar:hover {
    cursor: pointer;
}

#dashboard {
    background-image: url(img/Speed.svg);
}

#dashboard:hover {
    background-image: url(img/Speed2.svg);
}

#home {

    background-image: url(img/Home.svg);
}

#home:hover {
    background-image: url(img/Home2.svg);
}


#profile {
    background-image: url(img/Person.svg);
}

#profile:hover {
    background-image: url(img/Person2.svg);
}

#messages {
    background-image: url(img/Chat.svg);
}

#messages:hover {
    background-image: url(img/Chat2.svg);
}

#tasks {
    background-image: url(img/Task.svg);
}

#tasks:hover {
    background-image: url(img/Task2.svg);
}

#communities {
    background-image: url(img/Groups.svg);
}

#communities:hover {
    background-image: url(img/Groups2.svg);
}

#settings {
    background-image: url(img/Settings.svg);
}

#settings:hover {
    background-image: url(img/Settings2.svg);
}


#support {
    background-image: url(img/Support_agent.svg);
}

#support:hover {
    background-image: url(img/Support_agent2.svg);
}

#privacy {
    background-image: url(img/Lock.svg);
}

#privacy:hover {
    background-image: url(img/Lock2.svg);
}

#icon {
    background-image: url(img/Lock2.svg);
}

.sidebar-content a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: var(--txt);
    padding-left: 30px;
    text-decoration: none;
    opacity: 0.5;
}

.sidebar-content a:hover {
    opacity: 1;
    color: rgb(161, 114, 247)
}

/* Search Bar */
.search {
    width: 100%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    background: rgb(61, 61, 64);
  }
  
  .searchTerm:focus{
    color: rgb(117, 117, 117);
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid rgb(161, 114, 247);
    transition-duration: .3s;
  } 

   .searchTerm:focus + .searchButton {
    transition-duration: .3s;
    height: 34px;
  }

input {
    color: rgb(117, 117, 117);
    font-family: 'Quicksand', sans-serif;
  }

  .searchTerm:hover:not(:focus) {
    border: 1px solid rgb(88, 88, 90);
    transition-duration: .3s;
  }

  .searchTerm:hover:not(:focus) + .searchButton {
    height: 32px;
    transition-duration: .3s;
  }

  .searchButton {
    width: 40px;
    height: 30px;
    /* border: 1px solid #00B4CC; */
    background: rgb(42, 42, 45);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-image: url(img/Search.svg);
    background-size: 33px;
    background-position: 2px;
  }
  
  /*Resize the wrap to see the search bar change!*/
    .wrap{
    width: 30%;
    top: 50%;
    left: 50%;
  }

.project-title {
    display: grid;
    grid-column: 1 / -1;
    padding-left: 1px;
    padding-bottom: none;
    padding-top: 30px;
    height: 80px;
    color: rgb(117, 117, 117);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    top: -50px;
}

.project-title h2{
    color: white;
}

h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(29, 29, 32);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    display: grid;
    gap: 10px;
    grid-template-rows: max-content 1fr max-content;
    padding: 30px;
    transition: all 0.4s;
    color: var(--txt);
    font-family: 'Quicksand', sans-serif;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(29, 29, 32);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    transition: all 0.4s;
    color: var(--txt);
    font-family: 'Quicksand', sans-serif;
    width: 325px;
    height: 325px;
}

.card h2{
    padding-left: 20px;
}

.card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
    outline: 2px solid rgb(161, 114, 247);
}

.canva {
    background-color: rgb(31, 31, 31);
}

.canva2 {
    background-color: rgb(222, 229, 227);
    height: 325px;
    width: 325px;
}

.canva3 {
    background-color: rgb(31, 31, 31);
}

/* Carousel for Burning Ship fractal */
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: 325px;
    width: 325px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 325px;
    width: 325px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 42px;
}

.carousel-bullet:hover {
    color: rgb(161, 114, 247);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: rgb(161, 114, 247);
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* Hover Effect on Cards */
.related {
	padding: 6em 1em;
	font-size: 120%;
}

.related > a {
	border: 1px solid #4f7f90;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a:hover {
	border-color: #39545e;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 25em) {

	.codrops-header {
		font-size: 75%;
	}

	.codrops-icon span {
		display: none;
	}

}

.grid2 {
	display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
}

.grid2 figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 400px;
	text-align: center;
	cursor: pointer;
    border-radius: 2%;
}

.grid2 figure:hover {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s;
    outline: 2px solid rgb(161, 114, 247);
}

/* .grid2 figure:hover + .canva3 {
    transform: scale(0.5);
} */

.grid2 figure img {
	position: relative;
	display: block;
	min-height: 100%;
}

.grid2 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid2 figure figcaption::before,
.grid2 figure figcaption::after {
	pointer-events: none;
}

.grid2 figure figcaption,
.grid2 figure a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid2 figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid2 figure h2 {
	word-spacing: -0.15em;
	
	font-weight: 300;
}

.grid2 figure h2 span {
	font-weight: 800;
}

.grid2 figure h2,
.grid2 figure p {
	margin: 0;
}

.grid2 figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-zoe {
    height: 325px;
    width: 325px;
    grid-template-rows: max-content 1fr max-content;
}

figure.effect-zoe figcaption {
	position: absolute;
    top: auto;
	bottom: 0;
	padding: .25em;
	height: 2em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe figcaption > span {
	float: right;
}

figure.effect-zoe p {
	position: absolute;
	bottom: 4em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-zoe h2,
figure.effect-zoe figcaption > span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe figcaption > span::before {
	display: block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover figcaption > span:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover figcaption > span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover figcaption > span:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bottom-border {
    color: white;
}

/* Particles */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #b61924;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
  }
  
  .js-count-particles{
	font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
	-webkit-user-select: none;
  }
  
  #stats{
	border-radius: 3px 3px 0 0;
	overflow: hidden;
  }
  
  .count-particles{
	border-radius: 0 0 3px 3px;
  }
  

/* Mitosis */
.content {
  zoom: 0.15;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
overflow: auto;
position: absolute;
background: radial-gradient(rgb(59 10 225), #000000);
}

.cellule {
  border-radius: 70% 50% 65% 50%;
  box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 0px 10px 30px 5px #2e47f8;
  height: 48vmin;
  position: absolute;
  width: 48vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellule:after {
  border-radius: 70% 50% 65% 50%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
  box-shadow: inset 0 20px 30px rgb(255 255 255 / 15%);
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  opacity: 0.35;
}

.core {
  border-radius: 50% 65% 50% 70%;
  box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 0px 10px 30px 5px rgb(0 23 148), 0 0 25px -5px #10a2fd;
  height: 16vmin;
  width: 16vmin;
  position: absolute;
  background: radial-gradient(#1e76fa, #03c9fe);
  border: 1px solid #2071fa;
  animation: spincore1 20s 0s linear infinite;
}

.cellule:nth-child(1) {
animation: mitosis1 6s 0s 1, moving1 5s 6s ease-in-out infinite alternate;
transform: translate(-22vmin, -22vmin) rotate(199deg);
}
.cellule:nth-child(2) {
animation: mitosis2 6.2s 0s 1, moving2 4.5s 6s ease-in-out infinite alternate;
transform: translate(22vmin, 22vmin) rotate(50deg)
}
.cellule:nth-child(3) {
animation: mitosis3 6s 0s 1, moving3 6s 6s ease-in-out infinite alternate;
transform: translate(-22vmin, 22vmin) rotate(270deg)
}
.cellule:nth-child(4) {
animation: mitosis4 6.2s 0s 1, moving4 5.5s 6s ease-in-out infinite alternate;
transform: translate(22vmin, -22vmin) rotate(-150deg)
}
.cellule:nth-child(5) {
animation: mitosis5 9.2s 0s 1, moving5 4.5s 9s ease-in-out infinite alternate;
transform: translate(70vmin, -22vmin) rotate(-180deg);
}
.cellule:nth-child(6) {
animation: mitosis6 9.3s 0s 1, moving6 5s 9s ease-in-out infinite alternate;
transform: transform: translate(22vmin, 22vmin) rotate(50deg);
}
.cellule:nth-child(7) {
animation: mitosis7 9.25s 0s 1, moving7 4.5s 9s ease-in-out infinite alternate;
transform: translate(-70vmin, -22vmin) rotate(225deg);
}
.cellule:nth-child(8) {
animation: mitosis8 9.15s 0s 1, moving8 5s 9s ease-in-out infinite alternate;
transform: translate(-70vmin, 22vmin) rotate(299deg);
}

.cellule:nth-child(odd) .core {
animation: spincore2 22s 0s linear infinite;
}

/*** KEYFRAMES ***/
@keyframes mitosis1 {
     0% { transform: translate(0, 0); }
16.666% { transform: translate(0, 0); filter:blur(0px); }
33.333% { filter:blur(2px); }
    50% { transform: translate(-22vmin, -1vmin) rotate(115deg); filter:blur(0px); }
66.666% { transform: translate(-22vmin, -1vmin) rotate(110deg); filter:blur(0px); }
83.333% { filter:blur(1px); }
   100% { transform: translate(-22vmin, -22vmin) rotate(199deg); filter:blur(0px); }
}
@keyframes mitosis2 {
   0% { transform: translate(0, 0); }
16.666% { transform: translate(0, 0); filter:blur(0px); }
33.333% { filter:blur(2px); }
    50% { transform: translate(22vmin, 1vmin) rotate(-30deg); filter:blur(0px); }
66.666% { transform: translate(22vmin, 1vmin) rotate(-25deg); filter:blur(0px); }
83.333% { filter:blur(1px); }
   100% { transform: translate(22vmin, 22vmin) rotate(50deg); filter:blur(0px); }
}
@keyframes mitosis3 {
   0% { transform: translate(0, 0); opacity:0; }
16.666% { transform: translate(0, 0); }
    50% { transform: translate(-22vmin, -1vmin) rotate(115deg); filter:blur(0px); }
66.666% { transform: translate(-22vmin, -1vmin) rotate(115deg); opacity:1; filter:blur(0px); }
83.333% { filter:blur(1px); }
   100% { transform: translate(-22vmin, 22vmin) rotate(270deg); filter:blur(0px); }
}
@keyframes mitosis4 {
   0% { transform: translate(0, 0); opacity:0; }
16.666% { transform: translate(0, 0); }
    50% { transform: translate(22vmin, 1vmin) rotate(-30deg); filter:blur(0px); }
66.666% { transform: translate(22vmin, 1vmin) rotate(-30deg); opacity:1; filter:blur(0px); }
83.333% { filter:blur(1px); }
   100% { transform: translate(22vmin, -22vmin) rotate(-150deg); filter:blur(0px); }
}
@keyframes mitosis5 {
     0% { transform: translate(22vmin, -22vmin) rotate(-150deg); opacity:0; }
  68% { transform: translate(22vmin, -22vmin) rotate(-150deg); opacity:0; filter:blur(0px); }
  69% { filter:blur(1px); opacity: 1; }
   100% { transform: translate(70vmin, -22vmin) rotate(-180deg); opacity:1; filter:blur(0px); }
}
@keyframes mitosis6 {
     0% { transform: translate(22vmin, 22vmin) rotate(50deg); opacity:0; }
    69% { transform: translate(22vmin, 22vmin) rotate(50deg); opacity:0; filter:blur(0px); }
    70% { filter:blur(1px); opacity: 1; }
   100% { transform: translate(70vmin, 22vmin) rotate(80deg); opacity:1; filter:blur(0px); }
}
@keyframes mitosis7 {
     0% { transform: translate(-22vmin, -22vmin) rotate(199deg); opacity:0; }
  69.5% { transform: translate(-22vmin, -22vmin) rotate(199deg); opacity:0; filter:blur(0px); }
    71% { filter:blur(1px); opacity: 1; }
   100% { transform: translate(-70vmin, -22vmin) rotate(225deg); opacity:1; filter:blur(0px); }
}
@keyframes mitosis8 {
     0% { transform: translate(-22vmin, 22vmin) rotate(270deg); opacity:0; }
  68.5% { transform: translate(-22vmin, 22vmin) rotate(270deg); opacity:0; filter:blur(0px); }
    70% { filter:blur(1px); opacity: 1; }
   100% { transform: translate(-70vmin, 22vmin) rotate(299deg); opacity:1; filter:blur(0px); }
}

@keyframes moving1 {
  0% { transform: translate(-22vmin, -22vmin) rotate(199deg); }
100% { transform: translate(-22vmin, -22vmin) rotate(165deg); }
}
@keyframes moving2 {
  0% { transform: translate(22vmin, 22vmin) rotate(50deg); }
100% { transform: translate(22vmin, 22vmin) rotate(75deg); }
}
@keyframes moving3 {
  0% { transform: translate(-22vmin, 22vmin) rotate(270deg); }
100% { transform: translate(-22vmin, 22vmin) rotate(240deg); }
}
@keyframes moving4 {
  0% { transform: translate(22vmin, -22vmin) rotate(-150deg); }
100% { transform: translate(22vmin, -22vmin) rotate(-130deg); }
}
@keyframes moving5 {
  0% { transform: translate(70vmin, -22vmin) rotate(-180deg); }
100% { transform: translate(70vmin, -22vmin) rotate(-155deg); }
}
@keyframes moving6 {
  0% { transform: translate(70vmin, 22vmin) rotate(80deg); }
100% { transform: translate(70vmin, 22vmin) rotate(55deg); }
}
@keyframes moving7 {
  0% { transform: translate(-70vmin, -22vmin) rotate(225deg); }
100% { transform: translate(-70vmin, -22vmin) rotate(199deg); }
}
@keyframes moving8 {
  0% { transform: translate(-70vmin, 22vmin) rotate(299deg); }
100% { transform: translate(-70vmin, 22vmin) rotate(325deg); }
}

@keyframes spincore1 {
  0% { transform: rotate(0deg); }
 50% { border-radius:  70% 50% 65% 50%; }
100% { transform: rotate(-360deg); }
}
@keyframes spincore2 {
  0% { transform: rotate(0deg); }
 50% { border-radius: 65% 50% 70% 50%; }
100% { transform: rotate(360deg); }
}

/* Waves */

.wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: hidden;
  }
  
  .wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -50%;
    left: 50%;
    zoom: -80%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }


/* Bubbles */
.outer-circle {
  position: relative;
  height: 200px;
  width: 200px;
  top: 70px;
  left: 65px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

.outer-circle span {
  position: absolute;
  height: 200px;
  width: 200px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-radius: 50%;
}

span:nth-child(1) {
  filter: blur(5px);
}

span:nth-child(2) {
  filter: blur(10px);
}

span:nth-child(3) {
  filter: blur(25px);
}

span:nth-child(4) {
  filter: blur(150px);
}

.inner-circle {
  height: 180px;
  width: 180px;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 9;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}